* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
 body {
   font-family: 'Archivo', sans-serif;
    /* background: url('https://images.pexels.com/photos/11331433/pexels-photo-11331433.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
    /* background-repeat:no-repeat; */
    /* background-color: rgb(0, 187, 255); */
    
 }
 section.Header {

   font-family:'Archivo', sans-serif;

 }

 /* .forecast {
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    align-text: start;
    width: -moz-fit-content;
   
 } */

 li {
    list-style: none;
 }

 /* aside {
    margin-right: 10px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 50%;
    display: inline;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
} */

#cityName {
   font-size: 40px;
   text-decoration: underline;
}

div p.fw-bold {
   text-decoration: underline;
}

footer {
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom: 0;
   font-size: 20px;
 }

 .btn {
   @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointing tracking-wider
 }